{% extends "home/layout.html" %}
{% load static %}

{% block section %}


    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title" style="padding: 100px">
          <h2>Team</h2>
          <p>대외협력국</p>
            <h3>국장 - 우나영</h3>
            <h1>.</h1>
            <h4>대외협력국은 학우님들이 더 많은 혜택을 제공받을 수 있도록 제휴업체를 관리합니다.<br>뿐만 아니라 행사 진행에 필요한 업체와 컨택하여 원활한 학생회 운영에 기여합니다.<h4>
                <img src="{% static 'home/img/dddd.png' %}" width="600px" height="500px">
        </div>
      </div>




    </section><!-- End Team Section -->


{% endblock %}
