{% extends "home/layout.html" %}
{% load static %}

{% block section %}

<section id="team" class="team">
  <div class="container" data-aos="fade-up">

    <div class="section-title" style="padding: 100px">
      <h2>Team</h2>
      <p>문화예술국</p>
        <h3>국장 - 이유정</h3>
            <h1>.</h1>
            <h4>문화예술국은 학과 행사뿐 아니라 학과 전체를 홍보합니다.<br>SNS를 통해 카드뉴스를 업로드 하여 학과에 대한 정보를 제공합니다.<h4>
                <img src="{% static 'home/img/insta.png' %}" width="400px" height="500px">
    </div>


      </div>

      <!-- 나머지 col-lg-3 요소들은 생략 -->

    </div>

  </div>
</section><!-- End Team Section -->

{% endblock %}
