{% extends "home/layout.html" %}
{% load static %}

{% block section %}


    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title"  style="padding: 100px">
          <h2>Team</h2>
          <p>학생복지국</p>
            <h3>국장 - 박신혜</h3>
            <h1>.</h1>
            <h4>학생복지국은 학우님들의 복지를 위해 노력하고 있습니다.<br>1주일에 한번씩 과방 청소를 진행하며, 필요물품을 조사하고 관리합니다.<h4>
                <img src="{% static 'home/img/bang.png' %}" width="600px" height="500px">
        </div>



        </div>

      </div>
    </section><!-- End Team Section -->


{% endblock %}
