{% extends "home/layout.html" %}
{% load static %}

{% block section %}

    {% block head_title %}Create Post - Notice{% endblock %}

    {% block main_area %}
        <center>
        <h1>s</h1>

        <h1>Create New Post-Notice</h1>
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            <table>
                {{ form }}
            </table>
            <button type="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        </center>



        {% endblock %}
{% endblock %}
