{% extends "home/layout.html" %}
{% load static %}
{% block section %}

    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-title" style="padding: 50px">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div>
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3233.9944872806013!2d127.1282320753752!3d35.84913872073281!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357023322eddbe51%3A0x5e77afaf31a7a64a!2z7KCE7KO87IucIOuNleynhOuPmSDsoITrtoHrjIDtlZnqtZAg64aN7JeF7IOd66qF6rO87ZWZ64yA7ZWZMe2YuOq0gA!5e0!3m2!1sko!2skr!4v1701548223586!5m2!1sko!2skr" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

            <div class="container mt-5">
        <div class="row">

            <!-- 첫 번째 열 -->
            <div class="col-lg-4" style="padding: 40px">
{#            <div class="col-lg-4">#}
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>(54896) 전북 전주시 덕진구 백제대로 567</p>
                        <p>농생명과학대학 1호관 402호</p>
                    </div>
                </div>
            </div>

            <!-- 두 번째 열 -->
            <div class="col-lg-4">
                <div class="info">
                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>hekdms@naver.com</p>
                    </div>
                </div>
            </div>

            <!-- 세 번째 열 -->
            <div class="col-lg-4">
                <div class="info">
                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>063-270-2555</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

{% endblock %}